:root {
  /* ==== Colors ==== */
  /* PRIMITIVES */
  --color-yellow-500: #ffcc4a;
  --color-green-400: #a4eda4;
  --color-neutrals-50: #f9fafb;
  --color-neutrals-200: #eaedf1;
  --color-neutrals-900: #030712;
  --color-neutrals-700: #5a606f;
  --color-blue-700: #101828;
  --color-blue-700-transparent: rgba(16 24 40 / 0.9);
  --color-green-600: #4bb84b;
  --color-neutrals-100: #f9fafb;
  --color-neutrals-400: #99a1af;
  --color-yellow-600: #fbc336;

  /* TOKENS */
  --color-action: var(--color-yellow-500);
  --color-text: var(--color-neutrals-900);
  --color-text-muted: var(--color-neutrals-700);
  --color-surface-primary: #ffffff;
  --color-surface-secondary: var(--color-neutrals-50);
  --color-surface-tertiary: var(--color-neutrals-200);
  --color-surface-elevated: var(--color-blue-700);
  --color-surface-elevated-transparent: var(--color-blue-700-transparent);
  --color-ui-secondary: var(--color-green-400);
  --color-ui-secondary-alternative: var(--color-green-600);
  --color-on-surface-elevated: var(--color-neutrals-50);
  --color-ui-primary: var(--color-neutrals-900);
  --color-on-ui-primary: var(--color-neutrals-50);
  --color-text-weak: var(--color-neutrals-400);
  --color-surface-highlight: var(--color-yellow-600);
  --color-on-ui-primary-muted: var(--color-neutrals-400);

  /* ==== Spacing ==== */
  --card-margin-top: 34px;
  --card-gap: 36px;
  --btn-padding: 15px 34px;
  --form-padding: 10px 10px;

  /* ==== Typography ==== */
  --p-lineheight: 1.6;
  --light-font: 200;
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 800;

  /* font size */
  --step--2: clamp(0.7813rem, 0.7719rem + 0.0375vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9063rem + 0.125vw, 1rem);
  --step-0: clamp(1.125rem, 1.0625rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2438rem + 0.425vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4534rem + 0.6663vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.6953rem + 0.9948vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 1.9733rem + 1.4379vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.2917rem + 2.0307vw, 3.8147rem);

  /* ==== Border Radii ==== */
  --card-border: 20px;
  --btn-border: 42px;
  --popover-border: 20px;
}
