---
import Layout from "@layouts/Layout.astro";
import CaseStudyArticle from "@components/CaseStudyArticle.astro";
---

<Layout>
  <!-- Banner -->
  <!--   <section class="banner">
    <span>CASE STUDIES</span>
    <h1>Taxes & Efficiency</h1>
    <p>
      Our achievements reflect the close collaboration between our expert teams
      and our esteemed clientele. We cultivate a workplace that champions peak
      performance and guarantees client satisfaction.
    </p>
  </section> -->
  <CaseStudyArticle />
</Layout>

<!-- <style>
  .banner {
    --p-inline: 360px;
    --p-block: 100px;
    --l-height: 1.5;
    display: grid;
    grid-column: full;
    text-align: center;
    background-color: var(--color-neutrals-50);
    padding-inline: var(--p-inline);
    padding-block: var(--p-block);
    > * + * {
      margin-block-start: var(--flow-space, 1rem);
    }
    span {
      color: var(--color-neutrals-900);
      font-size: var(--step--2);
    }
    p {
      line-height: var(--l-height);
      color: var(--color-neutrals-700);
    }
    h1 {
      font-size: var(--step-3);
      font-weight: var(--bold-font);
    }
  }
</style> -->
