---
const { eyebrow, title, text } = Astro.props;
---

<section class="banner">
  <div>
    <span>{eyebrow}</span>
    <h1>{title}</h1>
    <p>{text}</p>
  </div>
</section>

<style>
  .banner {
    display: grid;
    grid-column: full;
    background-color: var(--color-neutrals-50);
    div {
      --p-inline: clamp(1.25rem, 6vw, 22.5rem);
      --p-block: clamp(3rem, 8vw, 6.25rem);
      text-align: center;
      padding-inline: var(--p-inline);
      padding-block: var(--p-block);
      > * {
        padding-block: var(--space, 0.5rem);
      }
      span {
        font-size: clamp(0.85rem, 1vw, var(--step--2));
        color: var(--color-neutrals-900);
        display: block;
      }
      h1 {
        font-size: clamp(2rem, 6vw, var(--step-4));
        line-height: 1.05;
        text-wrap: balance;
        font-weight: var(--bold-font);
        position: relative;
        display: inline-block;
        padding-bottom: 0.2em;

        &::after {
          content: "";
          position: absolute;
          left: calc(-50vw + 50%);
          right: 0;
          bottom: 0;
          height: 7px;
          background: var(--color-yellow-500);
          border-radius: 999px;
        }
      }
      p {
        font-size: var(--step--1);
        padding-inline: clamp(1rem, 4vw, 6.25rem);
        max-width: 65ch;
        margin-inline: auto;
        text-wrap: pretty;
      }
    }
  }
</style>
