---
import "@styles/main.css";
import Header from "../components/Header.astro";
import Footer from "@components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AskExperts</title>
    <style is:inline>
      @layer reset, global, tokens, components, overrides;
    </style>
    <script
      is:inline
      src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"
    ></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  @view-transition {
    navigation: auto;
  }
  @layer global {
    body {
      display: grid;
      grid-template-columns:
        [full-start] 1fr [content-start] minmax(0, 600px) [img-start] minmax(
          0,
          600px
        )
        [content-end]
        1fr [full-end];
      overflow-x: hidden;
    }

    header,
    footer,
    main,
    section {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full;
      /* > * + * {
        margin-top: 2rem;
      } */
      > :not(&) {
        grid-column: content;
      }
    }
  }
</style>
